.container
  .row
    nav.col-12(aria-label='Breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item.breadcrumb-item-home
          a(href=`${root}/${index}`) Home
        each crumb in breadcrumbs
          li.breadcrumb-item
            a(href=crumb.href) #{crumb.title}
        li.breadcrumb-item.active(aria-current='page') #{dirName}    
