nav.nav.flex-column(role='menu')
  each ref in dirRefs
    case ref.entryType
      when 'file'
        a.nav-link(href=ref.href, role='menuitem') <span class="material-icons-sharp">description</span> #{ref.title}
      when 'link'
        a.nav-link(href=ref.href, role='menuitem') <span class="material-icons-sharp">link</span> #{ref.title}
      when 'dir'
        a.nav-link(href=ref.href, role='menuitem') <span class="material-icons-sharp">folder</span> #{ref.title}
