ul.media-list
  each ref in navRefs
    li.media
      .media-left
        if ref.active
          img(class='media-object', width=widthFileIcon, height=heightFileIcon, src=`${images}/folder-open-solid-fontawesome.svg`, alt='current dir')
        else
          a(href=ref.href)
            img(class='media-object', width=widthFileIcon, height=heightFileIcon, src=`${images}/folder-solid-fontawesome.svg`, alt='dir')
      .media-body #{ref.title}
